@model Kursova.ViewModels.AddCardViewModel

@{
    ViewData["Title"] = "AddCard";
}

<h1>AddCard</h1>

<h4>CreditCard</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="AddCard">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="CardType" class="control-label"></label>
                <input asp-for="CardType" class="form-control" />
                <span asp-validation-for="CardType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CardNumber" class="control-label"></label>
                <input asp-for="CardNumber" class="form-control" />
                <span asp-validation-for="CardNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ExpiryMonth" class="control-label"></label>
                <input asp-for="ExpiryMonth" class="form-control" />
                <span asp-validation-for="ExpiryMonth" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ExpiryYear" class="control-label"></label>
                <input asp-for="ExpiryYear" class="form-control" />
                <span asp-validation-for="ExpiryYear" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Add Card" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
